*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
} 
header {
    background-color: #333; 
    color: #fff; 
    padding: 10px 20px; 
}

.header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    gap: 10px;
}


.left-box img {
    max-width: 100px;
    height: 100%; 
    border-radius: 50%;
   display: block;
   
}



.right-box a {
    color: #fff; 
    text-decoration: none; 
    margin-left: 2rem; 
    font-size: 1.2rem; 
    
}

.right-box a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        text-align: center;
        gap: 5px;
    }

    .right-box {
        margin-top: 10px; 

    }
}

.main-section {
    background-color: #fff; 
    padding: 40px 20px;
}

/* Style the main container */
.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(10, 10, 91, 01);
    border-radius: 0.4rem;
    margin-bottom: 4rem;
    text-align: center;
}

/* Style the main content */
.main-content {
    text-align: center;
    margin-bottom: 20px;
   
}

.main-content h3 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 10px;
}

.main-content h4 {
    font-size: 18px;
    color: #666666;
}

/* Style the grid container */
.main-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}

/* Style each grid item */
.grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    /* cursor: pointer; */
}

.grid-img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 0.7s ease-in-out;
}

.grid-item:hover .grid-img {
    transform: scale(1.1);
}

/* Style the paragraph within each grid item */
.grid-para {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.grid-item:hover .grid-para {
    opacity: 1;
}

.grid-item p{
    
    font-size: 1.1rem;
}

.blog-btn{
    
        margin-top: 1rem;
        /* width: 100%; */
        padding: 0.75rem;
        border: none;
        border-radius: 4px;
        background-color: #0bbd26;
        
        font-size: 1rem;
        
       
    }
    
    .blog-btn:hover {
        background-color: #049ffa;
    }
    
    .blog-btn a{
        cursor: pointer;
        color: #fff;
    }


@media (max-width: 768px) { 

    .main-grid{
        grid-template-columns: repeat(2,1fr);
    }
    
}

.footer-container{
    background-color: #333; 
    color: #fff; 
    padding: 10px 20px; 
    text-align: center;
}